<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hotelbooking.mapper.CheckinMapper">
    <select id="selectStay" resultType="com.example.hotelbooking.bean.Checkin">
        select * from checkin where YEAR(day_time) = #{year} and MONTH(day_time) = #{month}
                                    and worker_num = #{worker_num};
    </select>



</mapper>