<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生成罚单</title>
    <script>
        // 与后端通信的函数
        function generateTicket(username, callback) {
            var xhr = new XMLHttpRequest();
            var url = "/getticket?username=" + encodeURIComponent(username);

            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        var result = JSON.parse(xhr.responseText);
                        callback(result);
                    } else {
                        // 处理请求失败的情况
                        callback({ error: "请求失败" });
                    }
                }
            };

            xhr.send();
        }

        function handleGenerateTicket() {
            var username = document.getElementById("username").value;

            generateTicket(username, function (result) {
                if (result.error) {
                    alert("罚单获取失败，请重试！");
                } else if (result.fine == 0) {
                    alert("生成成功，无罚款");
                } else {
                    alert("生成成功\n用户名: " + result.username + "\n原因: " + result.reason + "\n罚款价格: " + result.fine);
                }
            });
        }

    </script>
    <link rel="stylesheet" href="../static/css/employee.css">
</head>
<body>
    <h1>生成罚单</h1>
    <label for="username">请输入用户名:</label>
    <input type="text" id="username" placeholder="用户名">

    <button onclick="handleGenerateTicket()">生成罚单</button>
</body>
</html>
